html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

img{
display:block;
border:5px solid blue;
margin:0 auto;
}

h1 {
margin:0;
  color: #00539F;
padding:20px 0;
word-spacing:20px;
letter-spacing:10px;
font-family: 'Berkshire Swash', cursive;
text-align:center;
text-shadow: 2px 2px 1px white;
}

p,li{
color:white;
font-size:2rem;
font-family: 'Sacramento', cursive;
line-height:2;
letter-spacing:1px;
}

a{
color:brown;
outline:none;
text-decoration:none;
}

